@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap');

:root{
    --primary-font: 'Raleway', sans-serif;
    --secundary-font: 'inter', sans-serif;
    --dark-color: #30343F;
    --light-color: #F5F5F5;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

nav{
    width: 100%;
    height: 14vh;
    background-color: #30343F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font); 
}
.logo{
    padding-left: 7vw;
    width: 18rem;
    height: auto;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 7vw;
    list-style: none;
    color: var(--light-color);
    font-size: 1.2rem;  
}
nav ul li img {
    width: 2vw;
    height: auto;
}
select{
    background-color: transparent;
    border: none;
    color: var(--light-color);
    font-size: 1.2rem; 
}

.hero{ 
    width: 100%;
}
.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.banner-principal{   
    position: absolute;
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    height: 100%;
    margin-left: 7vw;       
}
.hero picture{
    width: 100%;
    height: auto;    
}
.hero picture img{
    width: 100%;
    height: auto;    
}
.hero h1{
    font-size: 2.1rem;
    font-weight: 700;
}
.hero p{
    font-size: 1.1rem;    
    font-weight: 400;
}
.btn-shop{
    width: 8rem;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    margin-top: 2rem;
    font-family: var(--secundary-font);
    font-size: 1.2rem;
    font-weight: 500;
}
#coleccion{       
    margin-right: 7vw;
    margin-left: 7vw;       
}
.column-coleccion{
    width: 100%;    
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}
.row-coleccion{
    width: 100%;
    height: 30rem;    
    display: flex;
    justify-content: center;
    align-items: center;    
}
.descrip-coleccion{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
}
.descrip-coleccion hr{          
    width: 100%;
    opacity: 100%;
    border: 2px solid #FF3333 !important;    
    height: 0px;    
    margin: 2% 0 0 0;
}
.descrip-coleccion h2{
    font-family: var(--secundario-font);
    font-size: 3rem;
    font-weight: 500;
    color: var(--dark-color); 
}
.descrip-coleccion p{
    font-size: 1.5rem;
    font-weight: 400;
}
.img-coleccion{
    width: 50vw;
}
.img-coleccion img{
    width: auto;
    height: 100%;
}
.btn-coleccion{
    background-color: #30343F;
    color: #F5F5F5;
    width: 15rem;
    height: 2.7rem;
    border-radius: 2rem;
    border: none;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.lanzamientos{
    margin-right: 7vw;
    margin-left: 7vw;
    margin-bottom: 3vh;
}
.column-lanzamientos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column-lanzamientos .titulo-lanzamientos{
    align-self: flex-start;
}
.column-lanzamientos .titulo-lanzamientos h2{
    font-size: 3rem;
    font-weight: 700;
}
.row-lanzamientos{
    width: 100%;
    display: flex;    
    justify-content: space-around;
    align-items: center;   
}
.producto{    
    font-family: var(--secundary-font);    
}
.producto h4{
    font-weight: 500;
    font-size: .9rem;
    margin-bottom: 1.5vh;
}
.producto h3{    
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1.5vh;
}
.producto .precio{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.5vh;
}
.cuotas{
    color: #1D84B5 ;
    font-weight: 700;
    font-size: 0.8rem;
}

.column-footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-left: 7vw;
    padding-right: 7vw;
}
.row1-footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 14vh;
}
.menu-footer ul{    
    gap: 2rem;
    padding-right: 7vw;
    list-style: none;     
}
.menu-footer ul li a{
    color: var(--light-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;   
}
.logo-footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.logo-footer img{
    margin-top: 4vh;
    height: 60%;
    width: auto;
}
.row2-footer{
    padding: 1vh;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
}

@media (max-width: 1081px) {
    .row-coleccion{
        flex-direction: column;
    }
    .row-coleccion {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-coleccion img{
        width: 80%;
        height: auto;
    }
    .vulpix{
        margin-bottom: 10vw;
    }
    .hero picture img{
        width: 100vw;
        height: auto;    
    }
    .row-lanzamientos{
        flex-direction: column;
    }
}